In [1]:
import numpy as np
import pandas as pd
# plots
import seaborn as sns; sns.set_theme()
sns.set(palette='colorblind')
import matplotlib.pyplot as plt

Alexandre Dias Negretti	233609	
Daniel Godoy Marques	166213	
Gyovana Mayara Moriyama	216190

# Reading data

In [2]:
#Method to read the three main tables (patients, conditions e encounters) and organizations table
def get_patient(scenario: str, tables_dict: dict, path: str):
  
  df = pd.DataFrame()
  common = ['START', 'STOP', 'CODE', 'DESCRIPTION']
  
  for table in tables_dict:
    tmp = pd.read_csv(path + scenario + '/csv/' + table + '.csv', sep=',')
    tmp = tmp[tables_dict[table]].copy()

    for col in common:
        if col in tables_dict[table]:
          tmp.rename(columns={col: col+'_'+ table.upper()}, inplace=True)

    if table == 'patients':
      df = tmp
      df.rename(columns={'Id': 'PATIENT'}, inplace=True)

    elif table == 'encounters':
      df = df.merge(tmp, left_on='PATIENT', right_on='PATIENT')
      df.rename(columns={'Id': 'ENCOUNTER'}, inplace=True)

    elif table == 'organizations':
      df = df.merge(tmp, left_on='ORGANIZATION', right_on='Id', how='left')
      df.drop(['Id', 'ORGANIZATION'], axis=1, inplace=True)
      df.rename(columns={'NAME': 'ORGANIZATION'}, inplace=True)
    
    elif table == 'conditions':
      df = df.merge(tmp, left_on=['PATIENT', 'ENCOUNTER'], right_on=['PATIENT', 'ENCOUNTER'])

  df.reset_index(drop=True, inplace=True)
  df.columns = df.columns.str.lower()
  return df

In [3]:
#Method to read each table
def get_table(scenario: str, table_name: str, columns: list, path: str):
  common = ['START', 'STOP', 'CODE', 'DESCRIPTION']

  df = pd.read_csv(path + scenario + '/csv/' + table_name + '.csv', sep=',')
  df = df[columns].copy()

  for col in common:
      if col in columns:
        df.rename(columns={col: col+'_'+ table_name.upper()}, inplace=True)
  
  df.reset_index(drop=True, inplace=True)
  df.columns = df.columns.str.lower()
  return df

In [4]:
path = '../data/external/'

In [5]:
#Dictionary with the name of each table a columns that we will keep
tables_dict= {  'patients': ['Id', 'BIRTHDATE', 'DEATHDATE', 'GENDER'],
                'encounters': ['Id', 'START', 'STOP', 'PATIENT', 'ORGANIZATION', 'ENCOUNTERCLASS'],
                'conditions': ['START', 'STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'DESCRIPTION'],
                'organizations': ['Id', 'NAME'],
              }

In [6]:
df1 = get_patient('scenario04', tables_dict, path)
df1.head(5)

,patient,birthdate,deathdate,gender,encounter,start_encounters,stop_encounters,encounterclass,start_conditions,stop_conditions,code_conditions,description_conditions,organization
0,8bbc83cd-2747-55eb-5e42-4fecb71beb9a,2019-11-23,NaN,F,41d82b14-b6b9-6d7e-7f50-00e99a2ad0b3,2020-06-20T22:57:20Z,2020-06-20T23:12:20Z,outpatient,2020-06-20,2020-08-01,65363002,Otitis media,FALMOUTH HOSPITAL
1,8bbc83cd-2747-55eb-5e42-4fecb71beb9a,2019-11-23,NaN,F,6688cadf-eacc-e47f-65a5-e6738040caa4,2021-03-13T22:57:20Z,2021-03-14T02:46:20Z,emergency,2021-03-13,2021-03-13,241929008,Acute allergic reaction,FALMOUTH HOSPITAL
2,3a1f3c65-c794-5888-aced-8e6b72a1190b,2018-11-24,NaN,F,127dbf5f-366d-278d-3e08-413983e133b3,2019-06-22T12:48:28Z,2019-06-22T13:03:28Z,outpatient,2019-06-22,2019-08-03,65363002,Otitis media,LAWRENCE GENERAL HOSPITAL
3,3a1f3c65-c794-5888-aced-8e6b72a1190b,2018-11-24,NaN,F,fcee94a3-5f6a-3ce8-04bf-7ccaaffdd1d6,2019-12-01T12:48:28Z,2019-12-01T13:03:28Z,outpatient,2019-12-01,2020-02-01,65363002,Otitis media,LAWRENCE GENERAL HOSPITAL
4,3a1f3c65-c794-5888-aced-8e6b72a1190b,2018-11-24,NaN,F,1c0fc865-b38c-69ef-88fd-1c9a8ae52603,2020-05-20T02:48:28Z,2020-05-20T03:03:28Z,ambulatory,2020-05-19,2020-05-30,195662009,Acute viral pharyngitis (disorder),LAWRENCE GENERAL HOSPITAL

In [7]:
df2 = get_patient('scenario03', tables_dict, path)
df2.head(5)

,patient,birthdate,deathdate,gender,encounter,start_encounters,stop_encounters,encounterclass,start_conditions,stop_conditions,code_conditions,description_conditions,organization
0,52cd9de8-20ea-3573-a6cb-892e7654b286,1984-09-29,NaN,M,d0bfb5c6-af89-1b6f-ddaa-71561216c3a6,2002-11-23T11:07:25Z,2002-11-23T11:22:25Z,wellness,2002-11-23,NaN,224299000,Received higher education (finding),ELECTRODIAGNOSIS AND REHABILITATION ASSOCIATES...
1,52cd9de8-20ea-3573-a6cb-892e7654b286,1984-09-29,NaN,M,d0bfb5c6-af89-1b6f-ddaa-71561216c3a6,2002-11-23T11:07:25Z,2002-11-23T11:22:25Z,wellness,2002-11-23,2003-11-29,160904001,Part-time employment (finding),ELECTRODIAGNOSIS AND REHABILITATION ASSOCIATES...
2,52cd9de8-20ea-3573-a6cb-892e7654b286,1984-09-29,NaN,M,d0bfb5c6-af89-1b6f-ddaa-71561216c3a6,2002-11-23T11:07:25Z,2002-11-23T11:22:25Z,wellness,2002-11-23,2021-12-18,422650009,Social isolation (finding),ELECTRODIAGNOSIS AND REHABILITATION ASSOCIATES...
3,52cd9de8-20ea-3573-a6cb-892e7654b286,1984-09-29,NaN,M,d0bfb5c6-af89-1b6f-ddaa-71561216c3a6,2002-11-23T11:07:25Z,2002-11-23T11:22:25Z,wellness,2002-11-23,2006-12-02,73595000,Stress (finding),ELECTRODIAGNOSIS AND REHABILITATION ASSOCIATES...
4,52cd9de8-20ea-3573-a6cb-892e7654b286,1984-09-29,NaN,M,3e771593-16b0-5993-e59f-895cb9323828,2009-12-05T11:07:25Z,2009-12-05T11:22:25Z,wellness,2009-12-05,2012-12-08,741062008,Not in labor force (finding),ELECTRODIAGNOSIS AND REHABILITATION ASSOCIATES...

In [8]:
images1 = get_table('scenario04', 'imaging_studies', ['PATIENT', 'ENCOUNTER', 'MODALITY_CODE', 'Id'], path)
images2 = get_table('scenario03', 'imaging_studies', ['PATIENT', 'ENCOUNTER', 'MODALITY_CODE', 'Id'], path)

In [9]:
medications1 = get_table('scenario04', 'medications', ['START', 'STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'DESCRIPTION'], path)
medications2 = get_table('scenario03', 'medications', ['START', 'STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'DESCRIPTION'], path)

In [10]:
procedures1 = get_table('scenario04', 'procedures', ['START', 'STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'DESCRIPTION'], path)
procedures2 = get_table('scenario03', 'procedures', ['START', 'STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'DESCRIPTION'], path)

# Data pre-processing

In [ ]:
df1.dtypes

patient                   object
birthdate                 object
deathdate                 object
gender                    object
encounter                 object
start_encounters          object
stop_encounters           object
encounterclass            object
start_conditions          object
stop_conditions           object
code_conditions            int64
description_conditions    object
organization              object
dtype: object

Conversion of date columns to datetime type so you can work with them as dates

In [ ]:
def convert_datetime(df, columns, format='%Y-%m-%d'):
  for column in columns:
    df[column] = pd.to_datetime(df[column], format=format)
  return df


columns = ['birthdate', 'deathdate', 'start_encounters', 'stop_encounters', 'start_conditions', 'stop_conditions']
df1 = convert_datetime(df1, columns)
df2 = convert_datetime(df2, columns)

In [ ]:
df1.dtypes

patient                                object
birthdate                      datetime64[ns]
deathdate                      datetime64[ns]
gender                                 object
encounter                              object
start_encounters          datetime64[ns, UTC]
stop_encounters           datetime64[ns, UTC]
encounterclass                         object
start_conditions               datetime64[ns]
stop_conditions                datetime64[ns]
code_conditions                         int64
description_conditions                 object
organization                           object
dtype: object

In [ ]:
#Corrects the type of the feature, which was an array, to just datetime[ns]
df1['start_encounters'] = df1['start_encounters'].values
df1['stop_encounters'] = df1['stop_encounters'].values
df2['start_encounters'] = df2['start_encounters'].values
df2['stop_encounters'] = df2['stop_encounters'].values

In [ ]:
print("NaN count for main dataframe columns:\n")
for column in df1.columns:
  print(f'Count of NaNs in the column {column:<25} : {df1[column].isnull().sum()}')

NaN count for main dataframe columns:

Count of NaNs in the column patient                   : 0
Count of NaNs in the column birthdate                 : 0
Count of NaNs in the column deathdate                 : 3095451
Count of NaNs in the column gender                    : 0
Count of NaNs in the column encounter                 : 0
Count of NaNs in the column start_encounters          : 0
Count of NaNs in the column stop_encounters           : 0
Count of NaNs in the column encounterclass            : 0
Count of NaNs in the column start_conditions          : 0
Count of NaNs in the column stop_conditions           : 852295
Count of NaNs in the column code_conditions           : 0
Count of NaNs in the column description_conditions    : 0
Count of NaNs in the column organization              : 0

In [ ]:
print(f"Quantity of invalid deathdate: {(df1['deathdate'] < df1['birthdate']).sum()}")
print(f"Quantity of invalid start_encounters: {(df1['start_encounters'] < df1['birthdate']).sum()}")
print(f"Quantity of invalid stop_encounters: {(df1['stop_encounters'] < df1['start_encounters']).sum()}")
print(f"Quantity of invalid start_conditions: {(df1['start_conditions'] < df1['birthdate']).sum()}")
print(f"Quantity of invalid stop_conditions: {(df1['stop_conditions'] < df1['start_conditions']).sum()}")

Quantity of invalid deathdate: 0
Quantity of invalid start_encounters: 0
Quantity of invalid stop_encounters: 0
Quantity of invalid start_conditions: 0
Quantity of invalid stop_conditions: 0

#Feature Engineering

In [ ]:
def create_feature(df: pd.DataFrame, select: bool, column: str, new_column: str, list_to_keep: list = []):
  if select:
    tmp = df.loc[df[column].isin(list_to_keep)]
  else:
    tmp = df.copy()
  dict1 = tmp.groupby(['patient'])[column].nunique().to_dict()
  df[new_column] = df['patient'].map(dict1)
  df[new_column].fillna(0, inplace=True)
  return df

## Images table

We used the images table to create a column on the main dataframe. This column will be the count of different CTs (Computed Tomography) that the patient has done.

We are creating this column because we believe it may be relevant information, because when the patient is submitted to CT we can infer that it belongs to a higher risk group.

In [ ]:
def create_img_col(df: pd.DataFrame, code:str, column_name: str):
  tmp = df.loc[df['modality_code'] == code]
  dict1 = tmp.groupby(['patient'])['id'].nunique().to_dict()
  df[column_name] = df['patient'].map(dict1)
  df[column_name].fillna(0, inplace=True)
  return df

In [ ]:
images1 = create_img_col(images1, 'CT', 'cts')
images1 = images1.groupby('patient').agg({'cts': 'max'})
images1.reset_index(inplace=True)

images2 = create_img_col(images2, 'CT', 'cts')
images2 = images2.groupby('patient').agg({'cts': 'max'})
images2.reset_index(inplace=True)

## Medications table

We used the medication table to create three columns in the main dataframe, one with the amount of different medications the patient takes, another indicating how many different contraceptives the patient takes, and the last one indicating how many different anticoagulants the patient takes.

The first column 'cnt_medications' we are creating because we believe that the amount of different medications the patient takes can indicate other health problems.

The second column we are creating because it is known that taking certain contraceptives increases the chance of venous thrombosis, but alsos indicates that if the patient had thrombosis, which was probably caused by the contraceptive, the chance of cure is greater, since stopping the drug reduces the chance of bigger problems in the future.

The third one, we are creating because one of the treatments for venous thrombosis is the use of anticoagulants, so the use of the drug may indicate an improvement in the patient after the diagnosis, and also that the severity of the disease was not so high.

In [ ]:
contraceptive = ['168 HR Ethinyl Estradiol 0.00146 MG/HR / norelgestromin 0.00625 MG/HR Transdermal System', 'Estrostep Fe 28 Day Pack', 'Levora 0.15/30 28 Day Pack',
                  'Mestranol / Norethynodrel [Enovid]', 'Norinyl 1+50 28 Day Pack', 'NuvaRing 0.12/0.015 MG per 24HR 21 Day Vaginal Ring', 'Ortho Tri-Cyclen 28 Day Pack',
                 'Seasonique 91 Day Pack',  'Trinessa 28 Day Pack', 'Errin 28 Day Pack', 'Yaz 28 Day Pack']
anticoagulant = ['0.3 ML Enoxaparin sodium 100 MG/ML Prefilled Syringe', '0.4 ML Enoxaparin sodium 100 MG/ML Prefilled Syringe', '1 ML Enoxaparin sodium 150 MG/ML Prefilled Syringe', 
                 '1 ML heparin sodium  porcine 5000 UNT/ML Injection','Warfarin Sodium 5 MG Oral Tablet']

medications1 = create_feature(medications1, True, 'description_medications', 'contraceptive', contraceptive)
medications1 = create_feature(medications1, True, 'description_medications', 'anticoagulant', anticoagulant)
medications1 = create_feature(medications1, False, 'description_medications', 'cnt_medications')

medications2 = create_feature(medications2, True, 'description_medications', 'contraceptive', contraceptive)
medications2 = create_feature(medications2, True, 'description_medications', 'anticoagulant', anticoagulant)
medications2 = create_feature(medications2, False, 'description_medications', 'cnt_medications')

In [ ]:
medications1 = medications1.groupby('patient').agg({'contraceptive': 'max', 'anticoagulant': 'max', 'cnt_medications':'max'})
medications1.reset_index(inplace=True)

medications2 = medications2.groupby('patient').agg({'contraceptive': 'max', 'anticoagulant': 'max', 'cnt_medications':'max'})
medications2.reset_index(inplace=True)

## Procedures table

We use the procedure table to create a column in the main dataframe. This column will be the number of different surgeries the patient has done.

We created this column because venous thrombosis may be a result of complications from a surgery. This feature uses the procedures table and counts how many surgeries the patient has undergone, the idea here is that maybe patients with a lot of surgeries are more likely to have other serious health issues.

In [ ]:
procedures = [699253003, 387685009, 305433001, 429609002, 445912000, 305425002]
procedures1 = create_feature(procedures1, True, 'code_procedures', 'cnt_procedures', procedures)
procedures1 = procedures1.groupby('patient').agg({'cnt_procedures': 'max'})
procedures1.reset_index(inplace=True)

procedures2 = create_feature(procedures2, True, 'code_procedures', 'cnt_procedures', procedures)
procedures2 = procedures2.groupby('patient').agg({'cnt_procedures': 'max'})
procedures2.reset_index(inplace=True)

## Main dataframe

We created a column that indicates the age of the patient. If the patient has died, we do $deathdate - birthdate$ and if we don't have the death date, we consider that the patient is still alive, so we do  $today - birthdate$

In [ ]:
from datetime import date

def get_age(birthdate, deathdate):
  age = 0
  today = date.today()
  if pd.isnull(deathdate):
    age = today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))

  else:
    age = deathdate.year - birthdate.year - ((deathdate.month, deathdate.day) < (birthdate.month, birthdate.day))

  return age


df1['age'] = df1.apply(lambda x: get_age(x['birthdate'], x['deathdate']), axis=1)
df2['age'] = df2.apply(lambda x: get_age(x['birthdate'], x['deathdate']), axis=1)

Here we create a column that indicates the number of distinct encounters the patient had.

We created this column because we believe that patients with more encounters, have more health issues and therefore greater chance of death.

In [ ]:
df1 = create_feature(df1, False, 'encounter', 'cnt_encounters')
df2 = create_feature(df2, False, 'encounter', 'cnt_encounters')

Here we filter for our patients of interest. We filter for patients that had acute deep venous thrombosis and get just the last encounter with this condition.

In [ ]:
df = df1[df1['code_conditions'] == 132281000119108].copy()
df = df.sort_values('patient')
df = df.loc[df.groupby('patient')['start_encounters'].idxmax()].copy()
df.head(5)

,patient,birthdate,deathdate,gender,encounter,start_encounters,stop_encounters,encounterclass,start_conditions,stop_conditions,code_conditions,description_conditions,organization,age,cnt_encounters
3203746,00db4c05-092a-e93b-089b-0f20b26b92aa,1952-11-24,NaT,F,52cc9647-d6da-b13c-f7bb-aa71907bccb9,2020-10-14 22:33:06,2020-10-23 23:09:39,inpatient,2020-10-23,2020-10-29,132281000119108,Acute deep venous thrombosis (disorder),ATHOL MEMORIAL HOSPITAL,69,51
2423669,0130fb9c-6e6d-0f0c-f4e3-711ecc2f240b,1956-10-18,NaT,M,e253c113-b5f2-1921-4079-a93a6f8e37fb,2020-12-09 15:18:55,2020-12-21 15:54:25,inpatient,2020-12-21,2020-12-21,132281000119108,Acute deep venous thrombosis (disorder),LAWRENCE GENERAL HOSPITAL,65,26
2993119,0133d3a1-00dd-5984-f366-be7626117a45,1990-04-29,NaT,M,98152e58-4640-e5f3-6ce6-ab65938dd6d9,2020-11-09 18:45:57,2020-11-19 19:23:42,inpatient,2020-11-19,2020-11-19,132281000119108,Acute deep venous thrombosis (disorder),LAHEY HOSPITAL & MEDICAL CENTER BURLINGTON,32,11
2851253,01d07cee-3af6-85cf-b8f7-c034f0aa47e0,1968-09-07,NaT,F,f35556d9-5176-2b39-6741-d6d64bf9e6d1,2021-01-12 04:48:52,2021-01-24 05:04:19,inpatient,2021-01-22,2021-01-24,132281000119108,Acute deep venous thrombosis (disorder),UMASS MEMORIAL MEDICAL CENTER INC,53,43
131016,0219cef3-0fa6-2b6c-1e07-a22c2baf3657,1963-05-02,NaT,M,0c4ccbb6-3506-edc7-4719-560a7637aa72,2020-08-22 22:03:52,2020-08-31 22:44:46,inpatient,2020-08-28,2020-08-31,132281000119108,Acute deep venous thrombosis (disorder),EMERSON HOSPITAL -,59,25

In [ ]:
df_test = df2[df2['code_conditions'] == 132281000119108].copy()
df_test = df_test.sort_values('patient')
df_test = df_test.loc[df_test.groupby('patient')['start_encounters'].idxmax()].copy()
df_test.head(5)

,patient,birthdate,deathdate,gender,encounter,start_encounters,stop_encounters,encounterclass,start_conditions,stop_conditions,code_conditions,description_conditions,organization,age,cnt_encounters
126544,08ae0892-52f4-3d76-58c4-3ab3e247ad86,1969-03-09,2021-04-30,M,61c4259e-0638-83f3-21c4-61a5beaa59f1,2021-04-17 12:04:13,2021-04-23 12:47:36,inpatient,2021-04-22,NaT,132281000119108,Acute deep venous thrombosis (disorder),NORTHWEST HOSPITAL,52,38
187745,147573da-1d3f-20be-d5b4-861de0d6d7b2,1947-04-13,2021-05-09,M,1df5d6c2-10d7-0435-4d0e-d0309cb7d3d5,2021-04-25 09:15:16,2021-04-25 09:30:16,outpatient,2021-04-25,NaT,132281000119108,Acute deep venous thrombosis (disorder),VALLEY MEDICAL CENTER,74,40
130712,1996d42a-d6dc-7758-9a1f-14ab67abc708,1989-03-09,NaT,M,50585abd-0259-509b-b271-48f598fc2a2a,2020-12-27 20:00:01,2021-01-06 20:18:37,inpatient,2021-01-05,2021-01-06,132281000119108,Acute deep venous thrombosis (disorder),KITTITAS VALLEY COMMUNITY HOSPITAL,33,12
151433,1f31e32d-3180-12ad-7e3b-2d2559ccb055,1964-03-22,NaT,M,460d8443-aed0-b405-84d1-b70caa24602f,2020-04-01 04:25:03,2020-04-13 05:02:41,inpatient,2020-04-09,2020-04-13,132281000119108,Acute deep venous thrombosis (disorder),Walla Walla County Vet Center,58,27
1492,20294e09-1bb0-0ec0-0568-ee4edc2a4bec,1964-01-14,NaT,F,72f0cc5b-cf9e-5a72-b4d4-a115f2859acb,2021-02-27 19:49:58,2021-03-09 20:21:29,inpatient,2021-03-05,2021-03-09,132281000119108,Acute deep venous thrombosis (disorder),ST FRANCIS COMMUNITY HOSPITAL,58,28

Here we join the other dataframes (images, medications e procedures) with our main dataframe.

In [ ]:
df_train = df.merge(images1, on='patient', how='left')
df_train = df_train.merge(medications1, on='patient', how='left')
df_train = df_train.merge(procedures1, on='patient', how='left')

df_test = df_test.merge(images1, on='patient', how='left')
df_test = df_test.merge(medications1, on='patient', how='left')
df_test = df_test.merge(procedures1, on='patient', how='left')

columns = ['cts', 'contraceptive', 'anticoagulant', 'cnt_medications', 'cnt_procedures']
for column in columns:
  df_train[column].fillna(0, inplace=True)
  df_test[column].fillna(0, inplace=True)

We created a column that indicates the number of days that the last encounter and the condition lasted.
 
For both, if we do not have the date, we consider that it ended today, but if we have the date, we use the stop date.

In [ ]:
from datetime import datetime

def get_duration(start, stop):
  dur = 0
  today = datetime.now()

  if pd.isnull(stop):
    dur  = (today - start).days

  else:
    dur = (stop - start).days
  return dur

df_train['last_encounter_dur'] = df_train.apply(lambda x : get_duration(x['start_encounters'], x['stop_encounters']), axis=1)
df_train['condition_dur'] = df_train.apply(lambda x : get_duration(x['start_conditions'], x['stop_conditions']), axis=1)

df_test['last_encounter_dur'] = df_test.apply(lambda x : get_duration(x['start_encounters'], x['stop_encounters']), axis=1)
df_test['condition_dur'] = df_test.apply(lambda x : get_duration(x['start_conditions'], x['stop_conditions']), axis=1)

We created the target, which indicates, from the date of the last encounter with thrombosis, if the patient died within the next 5 years. So we attribute 1 if the patient died and 0 if he did not die or died after the 5 years.

In [ ]:
def create_target(last_encounter, deathdate):
  died = 0
  if ((deathdate.year - last_encounter.year- ((deathdate.month, deathdate.day) < (last_encounter.month, last_encounter.day))) <= 5):
    died = 1
  else:
    died = 0

  return died  

df_train['target'] = df_train.apply(lambda x: create_target(x['start_encounters'], x['deathdate']), axis=1)
df_test['target'] = df_test.apply(lambda x: create_target(x['start_encounters'], x['deathdate']), axis=1)

df_train.drop(['encounter', 'start_encounters', 'stop_encounters', 'start_conditions', 'stop_conditions', 'description_conditions', 'deathdate', 'birthdate', 'code_conditions'], axis=1, inplace=True)
df_test.drop(['encounter', 'start_encounters', 'stop_encounters', 'start_conditions', 'stop_conditions', 'description_conditions', 'deathdate', 'birthdate', 'code_conditions'], axis=1, inplace=True)

df_train.head()

,patient,gender,encounterclass,organization,age,cnt_encounters,cts,contraceptive,anticoagulant,cnt_medications,cnt_procedures,last_encounter_dur,condition_dur,target
0,00db4c05-092a-e93b-089b-0f20b26b92aa,F,inpatient,ATHOL MEMORIAL HOSPITAL,69,51,0.0,0.0,2.0,10,0.0,9,6,0
1,0130fb9c-6e6d-0f0c-f4e3-711ecc2f240b,M,inpatient,LAWRENCE GENERAL HOSPITAL,65,26,0.0,0.0,2.0,10,0.0,12,0,0
2,0133d3a1-00dd-5984-f366-be7626117a45,M,inpatient,LAHEY HOSPITAL & MEDICAL CENTER BURLINGTON,32,11,0.0,0.0,2.0,5,0.0,10,0,0
3,01d07cee-3af6-85cf-b8f7-c034f0aa47e0,F,inpatient,UMASS MEMORIAL MEDICAL CENTER INC,53,43,0.0,2.0,2.0,16,0.0,12,2,0
4,0219cef3-0fa6-2b6c-1e07-a22c2baf3657,M,inpatient,EMERSON HOSPITAL -,59,25,0.0,0.0,2.0,9,0.0,9,3,0

Checking again for NaN as we created other columns

In [ ]:
print("NaN count for main dataframe columns:\n")
for column in df_train.columns:
  print(f'Count of NaNs in the column {column:<25} : {df_train[column].isnull().sum()}')

NaN count for main dataframe columns:

Count of NaNs in the column patient                   : 0
Count of NaNs in the column gender                    : 0
Count of NaNs in the column encounterclass            : 0
Count of NaNs in the column organization              : 0
Count of NaNs in the column age                       : 0
Count of NaNs in the column cnt_encounters            : 0
Count of NaNs in the column cts                       : 0
Count of NaNs in the column contraceptive             : 0
Count of NaNs in the column anticoagulant             : 0
Count of NaNs in the column cnt_medications           : 0
Count of NaNs in the column cnt_procedures            : 0
Count of NaNs in the column last_encounter_dur        : 0
Count of NaNs in the column condition_dur             : 0
Count of NaNs in the column target                    : 0

In [ ]:
print("NaN count for main dataframe columns:\n")
for column in df_test.columns:
  print(f'Count of NaNs in the column {column:<25} : {df_test[column].isnull().sum()}')

NaN count for main dataframe columns:

Count of NaNs in the column patient                   : 0
Count of NaNs in the column gender                    : 0
Count of NaNs in the column encounterclass            : 0
Count of NaNs in the column organization              : 0
Count of NaNs in the column age                       : 0
Count of NaNs in the column cnt_encounters            : 0
Count of NaNs in the column cts                       : 0
Count of NaNs in the column contraceptive             : 0
Count of NaNs in the column anticoagulant             : 0
Count of NaNs in the column cnt_medications           : 0
Count of NaNs in the column cnt_procedures            : 0
Count of NaNs in the column last_encounter_dur        : 0
Count of NaNs in the column condition_dur             : 0
Count of NaNs in the column target                    : 0

Here we are doing a memory optimization, so we are converting floats to int16, because our numerical features are all integers.

In [ ]:
df_train.dtypes

patient                object
gender                 object
encounterclass         object
organization           object
age                     int64
cnt_encounters          int64
cts                   float64
contraceptive         float64
anticoagulant         float64
cnt_medications         int64
cnt_procedures        float64
last_encounter_dur      int64
condition_dur           int64
target                  int64
dtype: object

In [ ]:
start_mem = df_train.memory_usage().sum() / 1024**2 
print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
cols = ['age', 'cnt_encounters', 'cts', 'contraceptive', 'anticoagulant', 'cnt_medications', 'cnt_procedures', 'last_encounter_dur', 'condition_dur', 'target']
for col in cols:
  df_train[col] = df_train[col].astype('int16')
  df_test[col] = df_test[col].astype('int16')

end_mem = df_train.memory_usage().sum() / 1024**2
print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
df_train.dtypes

Memory usage of dataframe is 0.07 MB
Memory usage after optimization is: 0.04 MB
Decreased by 50.0%

patient               object
gender                object
encounterclass        object
organization          object
age                    int16
cnt_encounters         int16
cts                    int16
contraceptive          int16
anticoagulant          int16
cnt_medications        int16
cnt_procedures         int16
last_encounter_dur     int16
condition_dur          int16
target                 int16
dtype: object

Here we save our input dataframes o we can use for exploratory data analysis and for the machine learning models

In [ ]:
df_train.to_csv('/content/drive/MyDrive/Ciencia_de_dados_em_Saude/P2 - Prognostico/scenario04.csv', index=False)
df_test.to_csv('/content/drive/MyDrive/Ciencia_de_dados_em_Saude/P2 - Prognostico/scenario03.csv', index=False)