In [1]:
import numpy as np
import pandas as pd

In [3]:
path = '../data/external/btp517_Supplementary_Data/'
df = pd.read_csv(path + 'bioinf-2009-0193-File021.sif', sep='\t', header=None)
df

            0   1       2
0        LDLR  pp    DAB1
1        LDLR  pp   HSPA5
2        LDLR  pp    LDLR
3        LDLR  pp  LRPAP1
4        LDLR  pp    APOE
...       ...  ..     ...
84771    EPN1  pp   AP2M1
84772    EPN1  pp   GSK3B
84773    EPN1  pp   MED31
84774    EPN1  pp   GTF3A
84775  GSK3B   pp   GRLF1

[84776 rows x 3 columns]

In [5]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [6]:
reg = pd.read_excel(path+'bioinf-2009-0193-File013.xls', sheet_name=None, names=['name', 'type1', 'type2'])
df_reg = pd.DataFrame(reg['Foglio1'])
df_reg.drop(['type1', 'type2'], axis=1, inplace=True)
df_reg

      name
0     AAK1
1     AATK
2     ABL1
3     ABL2
4     ACP1
..     ...
544   WNK2
545   WNK4
546   YES1
547    ZAK
548  ZAP70

[549 rows x 1 columns]

In [7]:
len(df[0]) + len(df[2])

169552

In [8]:
len(df[0].unique()) + len(df[2].unique())

18800

In [9]:
names = df_reg['name'].values

In [10]:
df1 = df.loc[(df[0].isin(names)) & (df[2].isin(names))]
df1

            0   1        2
45      IKBKB  pp  MAP3K11
46      IKBKB  pp    PRKCQ
47      IKBKB  pp   MAP4K4
56      IKBKB  pp     CHUK
58      IKBKB  pp  EIF2AK2
...       ...  ..      ...
84739  TGFBR1  pp    MKNK2
84740  TGFBR1  pp    CDKL1
84747  TGFBR1  pp      BCR
84752  TGFBR1  pp   TSSK1B
84753  TGFBR1  pp    TSSK4

[3777 rows x 3 columns]

In [11]:
len(df1[0].unique())

486

In [12]:
len(df1[2].unique())

485

In [ ]:
df1.to_csv('./data/processed/filtered_df.csv', index=False)